body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #114b8b; }
  body.full {
    overflow: hidden; }

a {
  color: inherit;
  cursor: pointer; }
  a:hover, a:active {
    color: unset;
    text-decoration: none; }

.rh1,
.rh2,
.rh3,
.rh4,
.rh5,
.rh6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900; }

.rh1 {
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: -0.1rem;
  color: #33c0eb;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  text-transform: capitalize; }
  @media (max-width: 576px) {
    .rh1 {
      font-size: 2.6rem; } }
  @media (min-width: 577px) {
    .rh1 {
      font-size: 3rem; } }
  @media (min-width: 768px) {
    .rh1 {
      font-size: 3rem; } }
  @media (min-width: 992px) {
    .rh1 {
      font-size: 4.6rem; } }

.rh2 {
  font-size: 2.7rem; }

.rh3 {
  font-size: 1.5rem; }

.rh4 {
  font-size: 1.3rem;
  line-height: 2rem; }

.rh5 {
  font-size: 1.25rem; }

.rh6 {
  font-size: 1rem; }

.rbtn {
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0.6rem 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.35s ease;
  user-select: none;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }

.rbutton1 {
  color: #114b8b;
  background-color: #fff;
  border: 2px solid #4fd96a; }
  .rbutton1:hover, .rbutton1:active {
    background-color: #4fd96a;
    color: #fff; }

.rbutton2 {
  color: #fff !important;
  background-color: #4fd96a;
  border: 2px solid #4fd96a; }
  .rbutton2:hover, .rbutton2:active {
    color: #4fd96a !important;
    background-color: #fff; }

.cgreen {
  color: #4fd96a !important; }

.cwhite {
  color: #fff; }

.rp {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.ricon {
  color: #4fd96a; }

.rspanh {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: lighter;
  display: block;
  margin-bottom: 1rem; }

.ra {
  font-weight: 500;
  color: #4fd96a;
  text-decoration: none;
  color: #4fd96a; }
  .ra:hover {
    text-decoration: none; }

.section {
  padding: 6.25rem 0; }

.shadow-text {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

.navbar {
  color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #114b8b; }
  .navbar .logo .logo-parent {
    margin-top: -1rem; }
    .navbar .logo .logo-parent svg {
      fill: #4fd96a;
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
      position: relative;
      top: 1rem; }
    .navbar .logo .logo-parent span {
      font-size: 2rem; }
  .navbar .navbar-toggler-icon i {
    line-height: 1.25; }
  .navbar .navbar-nav {
    margin: auto; }
    .navbar .navbar-nav .nav-item {
      margin-right: 1rem;
      margin-left: 1rem;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); }
  .navbar .navbar-toggler-icon {
    color: #fff; }
  .navbar .navbar-collapse {
    text-align: center; }

.header {
  background-color: #114b8b;
  color: #fff;
  background-image: url("../images/pattern.png"), linear-gradient(0deg, rgba(16, 69, 131, 0.6614845767) 0%, rgba(2, 0, 36, 0.8) 40% 50%, rgba(16, 69, 131, 0.6922969017) 100%);
  background-position: right top, center center;
  background-repeat: repeat, repeat; }
  @media (min-width: 992px) {
    .header {
      background-image: url(../images/header2.png), url("../images/pattern.png"), linear-gradient(0deg, rgba(16, 69, 131, 0.6614845767) 0%, rgba(2, 0, 36, 0.8) 40% 50%, rgba(16, 69, 131, 0.6922969017) 100%);
      background-position: right top, center center;
      background-repeat: no-repeat, repeat; } }
  .header .rp {
    line-height: 1.25rem; }

.icons .icon-item {
  margin-bottom: 1rem; }
  .icons .icon-item .icon-text {
    padding-left: 4rem; }
    .icons .icon-item .icon-text .rp {
      margin-top: 1rem;
      margin-bottom: 1rem; }

.choose {
  position: relative;
  overflow: hidden; }
  .choose:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    border-radius: 50%;
    width: 39rem;
    height: 40rem;
    background-color: rgba(247, 247, 247, 0.4);
    transform: translate(20%, -50%);
    z-index: -1; }
  .choose .choose-cards .rcard .card-content {
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 1rem -1px rgba(0, 0, 0, 0.2);
    text-align: center; }
    .choose .choose-cards .rcard .card-content .ricon,
    .choose .choose-cards .rcard .card-content .rh5 {
      margin-bottom: 1rem; }

.service {
  background: url(../images/services.png) no-repeat;
  background-size: cover;
  position: relative; }
  .service:before {
    content: "";
    background-color: rgba(17, 75, 139, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
  .service .service-block {
    border-radius: 0.2rem;
    padding: 3rem 3rem;
    margin: 1rem;
    background-color: #fff; }
    .service .service-block .rp {
      line-height: 2; }

.projects {
  position: relative; }
  .projects:before {
    content: "";
    background-color: #f7f7f7;
    width: 100%;
    height: 25rem;
    position: absolute;
    top: 0; }
  .projects .carousel {
    margin-top: 3rem; }
    .projects .carousel .carousel-cell {
      margin-right: 1rem;
      background: #4fd96a;
      color: white; }
      .projects .carousel .carousel-cell .overlay {
        height: 100%;
        background-color: #4fd96a;
        color: white;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        width: 0; }
        .projects .carousel .carousel-cell .overlay:after {
          background-color: rgba(0, 0, 0, 0.2);
          padding: 1rem;
          border-radius: 50%;
          content: "\f0c1";
          font-weight: 800;
          display: none;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 1.5rem; }
      .projects .carousel .carousel-cell:hover .overlay {
        width: 100%; }
        .projects .carousel .carousel-cell:hover .overlay:after {
          display: block; }
      .projects .carousel .carousel-cell .catigury {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        display: none; }
        .projects .carousel .carousel-cell .catigury span {
          font-weight: lighter;
          font-size: 0.8rem; }
      .projects .carousel .carousel-cell:hover .catigury {
        display: block; }
      .projects .carousel .carousel-cell img {
        height: auto; }

.numbers {
  color: #fff;
  background-color: #4fd96a;
  text-align: center; }
  .numbers span {
    color: rgba(255, 255, 255, 0.9); }
  .numbers .plus:after {
    content: " +"; }

.say .carousel-cell {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 15rem; }
  .say .carousel-cell .say-p {
    padding: 4rem 3rem;
    box-shadow: 0px 0px 25px 0px rgba(85, 128, 255, 0.2);
    position: relative;
    margin-bottom: 2rem; }
    .say .carousel-cell .say-p:after {
      content: "";
      position: absolute;
      bottom: -2rem;
      left: 1rem;
      border-color: #fff transparent transparent #fff;
      border-style: solid;
      border-width: 1rem; }
  .say .carousel-cell .say-text {
    margin-right: 1rem; }
    .say .carousel-cell .say-text img {
      margin: 0 1rem 0.8rem 0;
      border-radius: 50%; }

.footer {
  padding-bottom: 1rem;
  background-color: #114b8b;
  color: #f7f7f7; }
  .footer .footer-icon {
    margin-right: 0.5rem; }
  .footer .rp {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .footer .social {
    margin-top: 3rem; }
    .footer .social a {
      margin-right: 1rem; }

.loading {
  background-color: #114b8b;
  height: 100%;
  width: 100%;
  z-index: 999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  padding: 1em; }
  .loading svg .svg-elem-1 {
    stroke-dashoffset: 3051.000732421875px;
    stroke-dasharray: 3051.000732421875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, fill 0.7s ease-in-out 0.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, fill 0.7s ease-in-out 0.8s; }
  .loading svg.active .svg-elem-1 {
    stroke-dashoffset: 6102.00146484375px;
    fill: #4fd96a; }

/*# sourceMappingURL=style.css.map */
